@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: "Judson", serif;
  text-align: center;
  margin-top: 5em;
  font-size: 30px;
  background-color: black;
  color: #737373;
}


textarea {
  font-family: "Judson", serif;
  margin: 1em;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #292929;
  color: white;
  padding: 0.5em;
  outline: 1px solid gray;
  border-radius: 5px;
}

textarea:focus {
  outline: 2px solid white;
}

input {
  font-family: "Judson", serif;
  font-size: 25px;
  color: white;
  border: none;
  background-color: #5c5c5c;
  padding: 0.5em;
  border-radius: 5px;
}

input:hover {
  outline: 1px solid white;
}

input:active {
  background-color: #3d3d3d;
}

a {
  color: gray;
}